.App {
margin: 2.5%;
}

.body {
  margin: 5%;
}

.logo {
  width: 5.5%;
}

.hero-section {
  display: flex;
  flex-direction: row;
}

.hero-logo {
  width: 30%;
  margin-left: 10%;
}

.hero-title {
  width: 70%;
  margin-top: 15%;
  margin-left: 5%;
}

.hero-sub-title {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  margin: 0% 20% 0% 20%;
}

.gas-price {
  font-weight: 500;
}

.form-section {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 1.2em;
  padding-top: 1%;
  margin-top: 5%;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  width: 20%;
  margin-bottom: 2%;
}

.submit-button {
  color: rgb(230,58,45);
  width: 20%;
  margin: 0% 40% 5%;
}

a {
  text-align: center;
  font-weight: 500;

  color: rgb(230,58,45);
  text-decoration: none;
}