.App {
margin: 2.5%;
}

.body {
  margin: 5%;
}

.logo {
  width: 5.5%;
}

.hero-section {
  display: flex;
  flex-direction: row;
}

.hero-logo {
  width: 30%;
  margin-left: 10%;
}

.hero-text {
 
}

.hero-title {
  width: 70%;
  margin-top: 15%;
  margin-left: 5%;
}

.hero-sub-title {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  margin: 0% 0% 0% 20%;
}

.form-section {
  background-color: whitesmoke;
  font-family: 'Alegreya', serif;
  font-size: 1.2em;
  padding-top: 1%;
  margin-top: 5%;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  width: 40%;
  margin-bottom: 2%;
}

.submit-button {
  width: 30%;
  margin: 0% 35% 5%;
}